In [3]:
import requests
import json 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

from api_keys import g_key 

filepath = "Vertical_Merge.csv"
df_all = pd.read_csv(filepath)
output_data_file = "Vertical_Merge_LatLng_AllYears.csv"
df_all.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [4]:
lats = []
lngs = []

#target_url = f'https://maps.googleapis.com/maps/api/geocode/json?address={target_country}&key={g_key}'
for index, row in df_all.iterrows():
    # get country type from df
    target_country = row['Country']
    
    target_url = f'https://maps.googleapis.com/maps/api/geocode/json?address={target_country}&key={g_key}'
    # assemble url and make API request
    geo_data = requests.get(target_url).json()

    # add keyword to params dict
    lat = geo_data["results"][0]["geometry"]["location"]["lat"]
    lng = geo_data["results"][0]["geometry"]["location"]["lng"]

    lats.append(lat)
    lngs.append(lng)
    
    # extract results
    results = geo_data['results']
    
    time.sleep(1)
    
df_all["Latitude"]= lats
df_all["Longitude"] = lngs

In [5]:
df_all

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year,Latitude,Longitude
0,Switzerland,1,7.5870,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2015,46.818188,8.227512
1,Iceland,2,7.5610,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2015,64.963051,-19.020835
2,Denmark,3,7.5270,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2015,56.263920,9.501785
3,Norway,4,7.5220,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2015,60.472024,8.468946
4,Canada,5,7.4270,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2015,56.130366,-106.346771
...,...,...,...,...,...,...,...,...,...,...,...,...
929,Central African Republic,149,3.4759,0.662516,0.319460,0.452000,0.640881,0.891807,0.082410,2020,6.611111,20.939444
930,Rwanda,150,3.3123,0.760010,0.540835,0.610988,0.900589,0.183541,0.055484,2020,-1.940278,29.873888
931,Zimbabwe,151,3.2992,0.786571,0.763093,0.556173,0.711458,0.810237,-0.072064,2020,-19.015438,29.154857
932,South Sudan,152,2.8166,0.742536,0.553707,0.510000,0.451314,0.763417,0.016519,2020,6.876992,31.306979
933,Afghanistan,153,2.5669,0.746286,0.470367,0.525900,0.396573,0.933687,-0.096429,2020,33.939110,67.709953

In [6]:
df_all.to_csv(output_data_file, index=False)