## Line chart for the top 3 countries over the 5 years, iceland, denmark, norway
#####

In [1]:
# data science imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# linear modelling
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import scipy.stats as sts

In [2]:
filepath1 = "Vertical_Merge.csv"
df = pd.read_csv(filepath1)

In [3]:
df.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [37]:
df["Happiness Rank"].max()

158

In [26]:
topdf = df.loc[df["Happiness Rank"] <= 5]
topdf

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.5870,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2015
1,Iceland,2,7.5610,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2015
2,Denmark,3,7.5270,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2015
3,Norway,4,7.5220,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2015
4,Canada,5,7.4270,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2015
158,Denmark,1,7.5260,1.441780,1.163740,0.795040,0.579410,0.444530,0.361710,2016
159,Switzerland,2,7.5090,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,2016
160,Iceland,3,7.5010,1.426660,1.183260,0.867330,0.566240,0.149750,0.476780,2016
161,Norway,4,7.4980,1.577440,1.126900,0.795790,0.596090,0.357760,0.378950,2016
162,Finland,5,7.4130,1.405980,1.134640,0.810910,0.571040,0.410040,0.254920,2016
315,Norway,1,7.5370,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2017
316,Denmark,2,7.5220,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2017
317,Iceland,3,7.5040,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2017
318,Switzerland,4,7.4940,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017
319,Finland,5,7.4690,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2017
470,Finland,1,7.6320,1.305000,1.592000,0.874000,0.681000,0.393000,0.202000,2018
471,Norway,2,7.5940,1.456000,1.582000,0.861000,0.686000,0.340000,0.286000,2018
472,Denmark,3,7.5550,1.351000,1.590000,0.868000,0.683000,0.408000,0.284000,2018
473,Iceland,4,7.4950,1.343000,1.644000,0.914000,0.677000,0.138000,0.353000,2018
474,Switzerland,5,7.4870,1.420000,1.549000,0.927000,0.660000,0.357000,0.256000,2018
626,Finland,1,7.7690,1.340000,1.587000,0.986000,0.596000,0.393000,0.153000,2019
627,Denmark,2,7.6000,1.383000,1.573000,0.996000,0.592000,0.410000,0.252000,2019
628,Norway,3,7.5540,1.488000,1.582000,1.028000,0.603000,0.341000,0.271000,2019
629,Iceland,4,7.4940,1.380000,1.624000,1.026000,0.591000,0.118000,0.354000,2019
630,Netherlands,5,7.4880,1.396000,1.522000,0.999000,0.557000,0.298000,0.322000,2019
782,Finland,1,7.8087,10.639267,0.954330,71.900825,0.949172,0.195445,-0.059482,2020
783,Denmark,2,7.6456,10.774001,0.955991,72.402504,0.951444,0.168489,0.066202,2020
784,Switzerland,3,7.5599,10.979933,0.942847,74.102448,0.921337,0.303728,0.105911,2020
785,Iceland,4,7.5045,10.772559,0.974670,73.000000,0.948892,0.711710,0.246944,2020
786,Norway,5,7.4880,11.087804,0.952487,73.200783,0.955750,0.263218,0.134533,2020

In [43]:
bottomdf = df.loc[df["Happiness Rank"] >= 148]
bottomdf["Country"].value_counts()

Rwanda                      6
Central African Republic    5
Tanzania                    5
Syria                       5
Burundi                     4
Afghanistan                 4
Guinea                      3
South Sudan                 3
Liberia                     3
Togo                        3
Yemen                       2
Benin                       2
Haiti                       1
Zimbabwe                    1
Botswana                    1
Ivory Coast                 1
Burkina Faso                1
Malawi                      1
Madagascar                  1
Chad                        1
Name: Country, dtype: int64

In [30]:
iceland = topdf.loc[topdf["Country"]=="Iceland"]
iceland

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
1,Iceland,2,7.5610,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2015
160,Iceland,3,7.5010,1.426660,1.183260,0.867330,0.566240,0.149750,0.476780,2016
317,Iceland,3,7.5040,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2017
473,Iceland,4,7.4950,1.343000,1.644000,0.914000,0.677000,0.138000,0.353000,2018
629,Iceland,4,7.4940,1.380000,1.624000,1.026000,0.591000,0.118000,0.354000,2019
785,Iceland,4,7.5045,10.772559,0.974670,73.000000,0.948892,0.711710,0.246944,2020

In [31]:
norway = topdf.loc[topdf["Country"]=="Norway"]
norway

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
3,Norway,4,7.522,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2015
161,Norway,4,7.498,1.577440,1.126900,0.795790,0.596090,0.357760,0.378950,2016
315,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2017
471,Norway,2,7.594,1.456000,1.582000,0.861000,0.686000,0.340000,0.286000,2018
628,Norway,3,7.554,1.488000,1.582000,1.028000,0.603000,0.341000,0.271000,2019
786,Norway,5,7.488,11.087804,0.952487,73.200783,0.955750,0.263218,0.134533,2020

In [32]:
denmark = topdf.loc[topdf["Country"]=="Denmark"]
denmark

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
2,Denmark,3,7.5270,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2015
158,Denmark,1,7.5260,1.441780,1.163740,0.795040,0.579410,0.444530,0.361710,2016
316,Denmark,2,7.5220,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2017
472,Denmark,3,7.5550,1.351000,1.590000,0.868000,0.683000,0.408000,0.284000,2018
627,Denmark,2,7.6000,1.383000,1.573000,0.996000,0.592000,0.410000,0.252000,2019
783,Denmark,2,7.6456,10.774001,0.955991,72.402504,0.951444,0.168489,0.066202,2020

In [ ]:
plt.plot(years, average_unemployment, color="blue", label="World Average" )

plt.plot(years, yearly_unemployment, color="green",label=combined_unemployed_data.loc['USA',"Country Name"])
plt.legend()

plt.show()