In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath_2015 = "../Resources/2015.csv"
filepath_2016 = "../Resources/2016.csv"
filepath_2017 = "../Resources/2017.csv"
filepath_2018 = "../Resources/2018.csv"
filepath_2019 = "../Resources/2019.csv"
filepath_2020 = "../Resources/Edit_2020.csv"

df_2015 = pd.read_csv(filepath_2015)
df_2016 = pd.read_csv(filepath_2016)
df_2017 = pd.read_csv(filepath_2017)
df_2018 = pd.read_csv(filepath_2018)
df_2019 = pd.read_csv(filepath_2019)
df_2020 = pd.read_csv(filepath_2020)

df_2020.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.8087,1.063927,0.954330,0.719008,0.949172,0.195445,-0.059482
1,Denmark,2,7.6456,1.077400,0.955991,0.724025,0.951444,0.168489,0.066202
2,Switzerland,3,7.5599,1.097993,0.942847,0.741024,0.921337,0.303728,0.105911
3,Iceland,4,7.5045,1.077256,0.974670,0.730000,0.948892,0.711710,0.246944
4,Norway,5,7.4880,1.108780,0.952487,0.732008,0.955750,0.263218,0.134533

In [3]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [4]:
df_2015_drop = df_2015.drop(['Dystopia Residual', 'Region'], axis=1)
df_2015_drop.head()

,Country,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [5]:
df_2015_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Happiness Rank                 158 non-null    int64
 2   Happiness Score                158 non-null    float64
 3   Standard Error                 158 non-null    float64
 4   Economy (GDP per Capita)       158 non-null    float64
 5   Family                         158 non-null    float64
 6   Health (Life Expectancy)       158 non-null    float64
 7   Freedom                        158 non-null    float64
 8   Trust (Government Corruption)  158 non-null    float64
 9   Generosity                     158 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 12.5+ KB

In [6]:
df_2015_rename = df_2015.rename(columns={"Family": "Social Support", "Happiness.Score": "Happiness Score", "Whisker.high": "Whisker High", "Whisker.high": "Whisker High", "Whisker.low": "Whisker Low", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)","Health (Life Expectancy)":"Health Life Expectancy", "Trust..Government.Corruption.": "Trust (Government Corruption)", "Dystopia.Residual":"Dystopia Residual"})
df_2015_rename.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Social Support',
       'Health Life Expectancy', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [7]:
df_2015_drop = df_2015_rename.drop(['Dystopia Residual'], axis=1)
df_2015_drop.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [8]:
df_2015_organized = df_2015_drop[["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Social Support", "Health Life Expectancy", "Freedom", "Generosity", "Trust (Government Corruption)"]]
df_2015_organized.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Generosity,Trust (Government Corruption)
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [9]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health Life Expectancy',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [10]:
df_2016_drop = df_2016.drop(['Lower Confidence Interval','Upper Confidence Interval', 'Region', 'Dystopia Residual'], axis=1)
df_2016_drop.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [11]:
df_2016_rename = df_2016_drop.rename(columns={"Family" : "Social Support"})
df_2016_rename.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Social Support', 'Health Life Expectancy',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [12]:
df_2016_rename.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [13]:
df_2016_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Happiness Rank                 157 non-null    int64
 2   Happiness Score                157 non-null    float64
 3   Economy (GDP per Capita)       157 non-null    float64
 4   Social Support                 157 non-null    float64
 5   Health Life Expectancy         157 non-null    float64
 6   Freedom                        157 non-null    float64
 7   Trust (Government Corruption)  157 non-null    float64
 8   Generosity                     157 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [14]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [15]:
df_2017_rename = df_2017.rename(columns={"Happiness.Rank": "Happiness Rank", "Happiness.Score": "Happiness Score", "Family" : "Social Support", "Whisker.high": "Whisker High", "Whisker.high": "Whisker High", "Whisker.low": "Whisker Low", "Economy..GDP.per.Capita.": "Economy (GDP per Capita)","Health..Life.Expectancy.":"Health Life Expectancy", "Trust..Government.Corruption.": "Trust (Government Corruption)", "Dystopia.Residual":"Dystopia Residual"})
df_2017_rename.columns

Index(['Country', 'Happiness Rank', 'Happiness Score', 'Whisker High',
       'Whisker Low', 'Economy (GDP per Capita)', 'Social Support',
       'Health Life Expectancy', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Dystopia Residual'],
      dtype='object')

In [16]:
df_2017_drop = df_2017_rename.drop(['Whisker High','Whisker Low', 'Dystopia Residual'], axis=1)
df_2017_drop.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Generosity,Trust (Government Corruption)
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [17]:
df_2017_organized = df_2017_drop [["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Social Support", "Health Life Expectancy", "Freedom", "Trust (Government Corruption)", "Generosity"]]
df_2017_organized.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [18]:
df_2017_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Economy (GDP per Capita)       155 non-null    float64
 4   Social Support                 155 non-null    float64
 5   Health Life Expectancy         155 non-null    float64
 6   Freedom                        155 non-null    float64
 7   Generosity                     155 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [19]:
df_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [20]:
df_2018_rename = df_2018.rename(columns={"Country or region": "Country", "Overall rank": "Happiness Rank", "Score" : "Happiness Score", "GDP per capita": "Economy (GDP per Capita)", "Social support": "Social Support", "Healthy life expectancy": "Health Life Expectancy", "Freedom to make life choices": "Freedom", "Perceptions of corruption":"Trust (Government Corruption)"})
df_2018_rename.columns

Index(['Happiness Rank', 'Country', 'Happiness Score',
       'Economy (GDP per Capita)', 'Social Support', 'Health Life Expectancy',
       'Freedom', 'Generosity', 'Trust (Government Corruption)'],
      dtype='object')

In [21]:
df_2018_organized = df_2018_rename [["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Social Support", "Health Life Expectancy", "Freedom", "Generosity", "Trust (Government Corruption)"]]
df_2018_organized.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Generosity,Trust (Government Corruption)
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [22]:
df_2018_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 155 non-null    int64
 1   Country                        155 non-null    object
 2   Happiness Score                155 non-null    float64
 3   Economy (GDP per Capita)       155 non-null    float64
 4   Social Support                 155 non-null    float64
 5   Health Life Expectancy         155 non-null    float64
 6   Freedom                        155 non-null    float64
 7   Generosity                     155 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [23]:
df_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [24]:
df_2019_rename = df_2019.rename(columns={"Country or region" : "Country", "Overall rank": "Happiness Rank", "Score" : "Happiness Score", "GDP per capita": "Economy (GDP per Capita)", "Social support": "Social Support", "Healthy life expectancy": "Health Life Expectancy", "Freedom to make life choices": "Freedom", "Perceptions of corruption":"Trust (Government Corruption)"})
df_2019_rename.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [25]:
df_2019_organized = df_2019_rename [["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Social Support", "Health Life Expectancy", "Freedom","Trust (Government Corruption)", "Generosity"]]
df_2019_organized.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [26]:
df_2020.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.8087,1.063927,0.954330,0.719008,0.949172,0.195445,-0.059482
1,Denmark,2,7.6456,1.077400,0.955991,0.724025,0.951444,0.168489,0.066202
2,Switzerland,3,7.5599,1.097993,0.942847,0.741024,0.921337,0.303728,0.105911
3,Iceland,4,7.5045,1.077256,0.974670,0.730000,0.948892,0.711710,0.246944
4,Norway,5,7.4880,1.108780,0.952487,0.732008,0.955750,0.263218,0.134533

In [27]:
df_2020_rename = df_2020.rename(columns={"Country name" : "Country",   "Logged GDP per capita": "Economy (GDP per Capita)", "Social support": "Social Support", "Healthy life expectancy": "Healthy Life Expectancy", "Freedom to make life choices": "Freedom", "Perceptions of corruption":"Trust (Government Corruption)"})
df_2020_rename.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.8087,1.063927,0.954330,0.719008,0.949172,0.195445,-0.059482
1,Denmark,2,7.6456,1.077400,0.955991,0.724025,0.951444,0.168489,0.066202
2,Switzerland,3,7.5599,1.097993,0.942847,0.741024,0.921337,0.303728,0.105911
3,Iceland,4,7.5045,1.077256,0.974670,0.730000,0.948892,0.711710,0.246944
4,Norway,5,7.4880,1.108780,0.952487,0.732008,0.955750,0.263218,0.134533

In [28]:
df_2020_organized = df_2020_rename [["Country", "Happiness Rank", "Happiness Score", "Economy (GDP per Capita)", "Social Support", "Health Life Expectancy", "Freedom","Trust (Government Corruption)", "Generosity"]]
df_2020_organized.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.8087,1.063927,0.954330,0.719008,0.949172,0.195445,-0.059482
1,Denmark,2,7.6456,1.077400,0.955991,0.724025,0.951444,0.168489,0.066202
2,Switzerland,3,7.5599,1.097993,0.942847,0.741024,0.921337,0.303728,0.105911
3,Iceland,4,7.5045,1.077256,0.974670,0.730000,0.948892,0.711710,0.246944
4,Norway,5,7.4880,1.108780,0.952487,0.732008,0.955750,0.263218,0.134533

In [29]:
df_2015_organized.to_csv("../Resources/Clean_2015.csv", index=False)

In [30]:
df_2016_rename.to_csv("../Resources/Clean_2016.csv", index=False)

In [31]:
df_2017_organized.to_csv("../Resources/Clean_2017.csv", index=False)

In [32]:
df_2018_organized.to_csv("../Resources/Clean_2018.csv", index=False)

In [33]:
df_2019_organized.to_csv("../Resources/Clean_2019.csv", index=False)

In [34]:
df_2020.to_csv("../Resources/Clean_2020.csv", index=False)