# T-tests

Hypothesis: Average happiness in 2020 vs. average happiness in 2015.
    Null Hypothesis: No. There is no change over time.
    Alternative Hypothesis: Yes. There is a change in happiness over time.

In [1]:
import pandas as pd
import numpy as no
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
filepath = "../Resources/Vertical_Merge.csv"
df = pd.read_csv(filepath)
df.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [3]:
mask = (df["Happiness Rank"]<=10) & (df["Year"]==2015)
df_high_2015 = df.loc[mask].reset_index(drop=True)

df_high_2015

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
5,Finland,6,7.406,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2015
6,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2015
7,Sweden,8,7.364,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2015
8,New Zealand,9,7.286,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2015
9,Australia,10,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2015

In [4]:
mask2 = (df["Happiness Rank"]<=10) & (df["Year"]==2020)
df_high_2020 = df.loc[mask2].reset_index(drop=True)

df_high_2020

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Finland,1,7.8087,1.063927,0.954330,0.719008,0.949172,0.195445,-0.059482,2020
1,Denmark,2,7.6456,1.077400,0.955991,0.724025,0.951444,0.168489,0.066202,2020
2,Switzerland,3,7.5599,1.097993,0.942847,0.741024,0.921337,0.303728,0.105911,2020
3,Iceland,4,7.5045,1.077256,0.974670,0.730000,0.948892,0.711710,0.246944,2020
4,Norway,5,7.4880,1.108780,0.952487,0.732008,0.955750,0.263218,0.134533,2020
5,Netherlands,6,7.4489,1.081271,0.939139,0.723009,0.908548,0.364717,0.207612,2020
6,Sweden,7,7.3535,1.075879,0.926311,0.726008,0.939144,0.250880,0.111615,2020
7,New Zealand,8,7.2996,1.050094,0.949119,0.732026,0.936217,0.221139,0.191598,2020
8,Austria,9,7.2942,1.074282,0.928046,0.730025,0.899989,0.499955,0.085429,2020
9,Luxembourg,10,7.2375,1.145068,0.906912,0.726000,0.905636,0.367084,-0.004621,2020

In [5]:
happiness_mean_2020 = df_high_2020["Happiness Score"].mean()
happiness_mean_2020

7.4640399933

In [6]:
happiness_mean_2015 = df_high_2015["Happiness Score"].mean()
happiness_mean_2015

7.4342

# T-test Happiness Score High 2015 vs. 2020

In [7]:
stats.ttest_ind(df_high_2015["Happiness Score"], df_high_2020["Happiness Score"], equal_var = False)

Ttest_indResult(statistic=-0.45213664193404385, pvalue=0.657619517154341)

Score 2015 vs. 2020 P-value > 0.05. Accept the null hypothesis and reject the alternative hypothesis. There is not a significant change in Happiness Score over time.

In [8]:
mask3=(df["Happiness Rank"]>=148)&(df["Year"]==2015)
df_low_2015=df.loc[mask3].reset_index(drop=True)
df_low_2015

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Central African Republic,148,3.678,0.07850,0.00000,0.06699,0.48879,0.08289,0.23835,2015
1,Chad,149,3.667,0.34193,0.76062,0.15010,0.23501,0.05269,0.18386,2015
2,Guinea,150,3.656,0.17417,0.46475,0.24009,0.37725,0.12139,0.28657,2015
3,Ivory Coast,151,3.655,0.46534,0.77115,0.15185,0.46866,0.17922,0.20165,2015
4,Burkina Faso,152,3.587,0.25812,0.85188,0.27125,0.39493,0.12832,0.21747,2015
5,Afghanistan,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,2015
6,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,2015
7,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,2015
8,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,2015
9,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,2015
10,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,2015

In [9]:
mask4=(df["Happiness Rank"]>=143)&(df["Year"]==2020)
df_low_2020=df.loc[mask4].reset_index(drop=True)
df_low_2020

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Year
0,Lesotho,143,3.6528,0.796049,0.780496,0.480036,0.738126,0.857392,-0.145732,2020
1,India,144,3.5733,0.884982,0.592201,0.602152,0.881445,0.772043,0.057552,2020
2,Malawi,145,3.5380,0.706223,0.544007,0.575929,0.803223,0.731701,0.021433,2020
3,Yemen,146,3.5274,0.775968,0.817981,0.567273,0.599920,0.800288,-0.157735,2020
4,Botswana,147,3.4789,0.971120,0.779122,0.589245,0.821328,0.777931,-0.250394,2020
5,Tanzania,148,3.4762,0.796767,0.688933,0.574961,0.821540,0.619799,0.109669,2020
6,Central African Republic,149,3.4759,0.662516,0.319460,0.452000,0.640881,0.891807,0.082410,2020
7,Rwanda,150,3.3123,0.760010,0.540835,0.610988,0.900589,0.183541,0.055484,2020
8,Zimbabwe,151,3.2992,0.786571,0.763093,0.556173,0.711458,0.810237,-0.072064,2020
9,South Sudan,152,2.8166,0.742536,0.553707,0.510000,0.451314,0.763417,0.016519,2020
10,Afghanistan,153,2.5669,0.746286,0.470367,0.525900,0.396573,0.933687,-0.096429,2020

## T-test top vs. bottom countries in 2020

In [10]:
stats.ttest_ind(df_high_2020["Happiness Score"], df_low_2020["Happiness Score"], equal_var=False)

Ttest_indResult(statistic=35.30332537640148, pvalue=4.0812612388392846e-16)

## T-test Happiness Score Low 2015 vs. 2020

In [11]:
stats.ttest_ind(df_low_2015["Happiness Score"], df_low_2020["Happiness Score"], equal_var=False)

Ttest_indResult(statistic=0.41905438235317743, pvalue=0.6796499269392906)

P-value > 0.05; therefore, we accept the null hypothesis and reject the alternative hypothesis. It is not a statistically significant change in Happiness Score amongst the low countries between 2015 and 2020.

## T-test low 2015 vs. low 2020 "Economy"

In [12]:
stats.ttest_ind(df_low_2015["Economy (GDP per Capita)"], df_low_2020["Economy (GDP per Capita)"], equal_var=False)

Ttest_indResult(statistic=-8.57159508077917, pvalue=5.434960909802638e-07)

P-value < 0.05; therefore, we reject our null and accept our alternative. This is statistically significant. There is a change in the Economy (GDP per Capita) amongst the bottom countries over time.

In [13]:
df_low_2015["Economy (GDP per Capita)"].mean()

0.2757990909090909

In [14]:
df_low_2020["Economy (GDP per Capita)"].mean()

0.7844571509090909

## T-test top vs. bottom countries of Happiness Score in 2015

In [15]:
stats.ttest_ind(df_high_2015["Happiness Score"], df_low_2015["Happiness Score"], equal_var=False)

Ttest_indResult(statistic=38.63289992322861, pvalue=2.4671262909346708e-14)

## T-test top vs. bottom countries of Economy in 2015

In [16]:
stats.ttest_ind(df_high_2015["Economy (GDP per Capita)"], df_low_2015["Economy (GDP per Capita)"], equal_var=False)

Ttest_indResult(statistic=18.676000717095384, pvalue=2.3049209127751346e-10)

## T-test high 2015 vs. high 2020 "Economy"

In [17]:
stats.ttest_ind(df_high_2015["Economy (GDP per Capita)"], df_high_2020["Economy (GDP per Capita)"], equal_var=False)

Ttest_indResult(statistic=12.469886200302511, pvalue=1.7337953315502605e-08)

P<0.05; therefore, we can reject the null and accept the alternative hypothesis.  It is a statistically significant change in the Economy (GDP per Capita) of the high counteries between 2015 and 2020.

# Health Life Expectancy

In [18]:
stats.ttest_ind(df_low_2015["Health Life Expectancy"], df_low_2020["Health Life Expectancy"], equal_var=False)

Ttest_indResult(statistic=-4.794857750847201, pvalue=0.0004665132957562091)

P<0.05; therefore, we can reject the null and accept the alternative hypothesis.  It is a statistically significant change in the Health Life Expectancy of the high counteries between 2015 and 2020.

In [19]:
stats.ttest_ind(df_high_2015["Health Life Expectancy"], df_high_2020["Health Life Expectancy"], equal_var=False)

Ttest_indResult(statistic=22.426998009318144, pvalue=5.940976196879174e-10)

P<0.05; therefore, we can reject the null and accept the alternative hypothesis.  It is a statistically significant change in the Health Life Expectancy of the low counteries between 2015 and 2020.